* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --bg-color: #1f242d;
    --sec-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
}
body {
    font-family: "Poppins", sans-serif;
    background: var(--bg-color);
    color: var(--text-color);
}    
.body {
    scroll-behavior: smooth;
    border: none;
    outline: none;
    text-decoration: none;  
}
.body .btn {
    display: inline-block;
    background: var(--main-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    font-weight: 600;
    font-size: 1.6rem;
    color: var(--sec-bg-color);
    letter-spacing: 0.1rem;
    font-weight: 600;
    box-shadow: 0 0 1rem var(--main-color);
    padding: 1rem 3rem;
    width: fit-content;
    cursor: pointer;
}
.body .btn a {
    text-decoration: none;
    color: black;
}
.body .btn:hover {
    box-shadow: none;
    transition: 0.4s ease;
}
/* Navbar start */
.body .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    z-index: 1000;
}
.body .header .logo {
    color: var(--text-color);
    font-size: 2.5rem;
    font-weight: bolder;
    cursor: default;
    text-decoration: none;
}
.body .header #menu-btn {
    font-size: 2.4rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}
.body .header .navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
}
.body .header .navbar a {
    margin-left: 4rem;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.7rem;
    transition-delay: 0.1s;
}
.body .header .navbar a:hover {
    color: var(--main-color);
    transition: 0.3s ease;
}
.body .header .navbar a#active {
    color: var(--main-color);
}
/* Navbar end */

/* Home start */
.body section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.body .home {
    gap: 20rem;
}
/* Home content Start */
.body .home .home-content{
    width: 40vw;
    min-width: 30rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.body .home .home-content h3{
    font-size: 3.2rem;
    font-weight: 500;
}
.body .home .home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
}

.body .home .home-content h3:nth-of-type(2){
    margin-bottom: 2rem;
}
.body .home .home-content p {
    font-size: 1.6rem;
    
}
.body .home .home-content span {
    color: var(--main-color);
}
/* Home content end */

/* card start */
.card{
    position: relative;
    transition: 0.5s;
    height: 10rem;
    transition-delay: 0.4s;
}
.card .user{
    position: relative;
    width: 60rem;
    min-height: 20rem;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    border-radius: 10px;
    padding: 60px 40px 30px;
}
.card .user .imgBx{
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    border: 6px solid black;
    overflow: hidden;
    transition: 0.5s;
}
.card .user .imgBx img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s ease;
}
.card .user .content{
    position: relative;
    text-align: center;
}
.card .user .content h2{
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 600;
    color: #fff;
    margin-top: 4rem;
    color: black;
}
.card .user .content h2 span{
    font-size: 1.4rem;
    font-weight: 400;
    opacity: 0.8;
}
.card .user #btn{
    position: absolute;
    bottom: 0;
    width: 12rem;
    padding: 5px 15px;
    background: #fff;
    border-radius: 30px;
    transform: translateY(50%);
    border: 6px solid #152533;
    text-align: center;
    cursor: pointer;
    font-weight: 500;
    transition: 0.5s;
}
.card .contact{
    position: relative;
    top: 30px;
    width: 100%;
    height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: 0.5s;
}
.card .contact li{
    list-style: none;
    width: 100%;
    min-height: 100px;
    background: var(--sec-bg-color);
    border-radius: 10px;
    display: flex;
    transition: 0.8s;
    transform: scale(0);
    padding: 10px 30px;
}
.card .contact li a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    gap: 10px;
}
.card .contact li a .icn{
    position: relative;
    width: 60px;
    height: 60px;
    background-color: var(--bg-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card .contact li a .icn i{
    color: white;
    font-size: 1.5em;
}
.card .contact li a p{
    color: white;
    font-size: 1.7em;
}
.card .user #btn::before{
    content: 'Follow';
}
.enable .user #btn::before{
    content: 'Close';
}
.card .contact li:hover{
    background-color: var(--background-color);
    transition: 0.6s;
    border: 3px solid var(--main-color);
    opacity: 1;
}
.enable{
    height: 50rem;
    transition-delay: 0.4s;
}
.enable .contact{
    height: 44rem;
    cursor: pointer;
}
.enable .user #btn{
    background-color: rgb(16, 9, 54);
    color: whitesmoke;
    border-color: white;
    border-width: 2px;
    box-shadow: 10px 6px 20px black;
}
.enable .user .imgBx {
    overflow: visible;
}
.enable .user .imgBx img{
    width: 140%;
    height: 140%;
    bottom: 0px;
    left: -27px;
    clip-path: inset(0 8% 1% 0 round 50%);
    transition: 0.5s ease;
}
.enable .contact li{
    opacity: 1;
    transform: scale(1);
    transition: 0.4;
}
.enable .user .content h2{
    color: white;
}
.enable .blur{
    opacity: 0.4;
    filter: blur(1px);
    transition: 0.3s;
}
/* card end */
/* Home section end */

/* About section start */
.body .about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--sec-bg-color);
}
.body .about .about-img img {
    width: 30vw;
    height: 70vh;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    object-fit: cover;
}
.body .about .about-content .heading {
    text-align: center;
    font-size: 4.5rem;
    line-height: 1.2;
    margin-bottom: 2rem;
}
.body .about .about-content h2 span {
    color: var(--main-color);
}
.body .about .about-content h3 {
    font-size: 2.6rem;
}
.body .about .about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}
/* about section end */

/* services section start */
.body .services {
    background: var(--bg-color);
    flex-direction: column;
    text-align: center;
}
.body .services .heading {
    font-size: 4.5rem;
    line-height: 1.2;
    margin-bottom: 2rem;
}
.body .services .heading span {
    color: var(--main-color);
}
.body .services h2 {
    margin-bottom: 5rem;
}
.body .services .services-container {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.body .services .services-container .services-box {
    flex: 1 1 30rem;
    background: var(--sec-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: 2px solid var(--bg-color);
    transition: 0.4s ease;
}
.body .services .services-container .services-box:hover {
    border-color: var(--main-color);
    box-shadow: 0 0 1rem var(--main-color);
    transition: 0.4s ease;
    background: var(--bg-color);
}
.body .services .services-container .services-box i {
    font-size: 7rem;
    color: var(--main-color);
    margin-bottom: 1rem;
}
.body .services .services-container .services-box h3 {
    font-size: 2.6rem;
}
.body .services .services-container .services-box p {
    font-size: 1.6rem;
    margin: 1.5rem 0 2.5rem;
}
/* Services section end */

/* Portfolio section start */
.body .portfolio {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: var(--sec-bg-color);
}
.body .portfolio .heading {
    font-size: 4.5rem;
    line-height: 1.2;
    margin-bottom: 2rem;
}
.body .portfolio .heading span {
    color: var(--main-color);
}
.body .portfolio h2 {
    margin-bottom: 4rem;
}
.body .portfolio .portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}
.body .portfolio .portfolio-container .portfolio-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}
.body .portfolio .portfolio-container .portfolio-box img {
    width: 100%;
    transition: 0.5s ease;
}
.body .portfolio .portfolio-container .portfolio-box:hover img {
    transform: scale(1.1);
} 
.body .portfolio .portfolio-container .portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.1), var(--main-color));
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: 0.5s ease;
    cursor: pointer;
}
.body .portfolio .portfolio-container .portfolio-box:hover .portfolio-layer {
    transform: translateY(0);
}
.body .portfolio .portfolio-container .portfolio-box .portfolio-layer h4 {
    font-size: 3rem;
}
.body .portfolio .portfolio-container .portfolio-box .portfolio-layer p {
    font-size: 1.6rem;
    margin: 3px 0 1rem;
}
.body .portfolio .portfolio-container .portfolio-box .portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}
.body .portfolio .portfolio-container .portfolio-box .portfolio-layer a i {
    font-size: 2rem;
    color: var(--sec-bg-color);
}
/* Portfolio end */

/* Contact Start */
.body .contact {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.body .contact .heading {
    font-size: 4.5rem;
    line-height: 1.2;
    margin-bottom: 2rem;
}
.body .contact .heading span {
    color: var(--main-color);
}
.body .contact h2 {
    margin-bottom: 3rem;
}
.body .contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}
.body .contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.body .contact form .input-box input, .body .contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--sec-bg-color);
    border-radius: 8px;
    margin: 7px 0;
} 
.body .contact form .input-box input {
    width: 49%;
}
.body .contact form textarea {
    resize: none;
}
.body .contact form .btn {
    margin-top: 2rem;
}
/* Contact End */

/* Footer Start */
.body footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--sec-bg-color);
}
.body footer .footer-text p {
    font-size: 1.6rem;
}
.body footer .footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    background: var(--main-color);
    border-radius: 8px;
    transition: 0.5s ease;
}
.body footer .footer-iconTop a:hover {
    box-shadow: 0 0 1rem var(--main-color);
}
.body footer .footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--sec-bg-color);
}
